In [8]:
from pandas import read_csv
#Step 1: Importing the data
data = read_csv("titanic-passengers.csv", sep=';')
#Step 2: Exploring the data
#Get a quick overview of the data
print(data.head())
print(data.info())
print(data.describe())

   PassengerId Survived  Pclass                                         Name  \
0          343       No       2                   Collander, Mr. Erik Gustaf
1           76       No       3                      Moen, Mr. Sigurd Hansen
2          641       No       3                       Jensen, Mr. Hans Peder
3          568       No       3  Palsson, Mrs. Nils (Alma Cornelia Berglund)
4          672       No       1                       Davidson, Mr. Thornton

      Sex   Age  SibSp  Parch      Ticket     Fare  Cabin Embarked
0    male  28.0      0      0      248740  13.0000    NaN        S
1    male  25.0      0      0      348123   7.6500  F G73        S
2    male  20.0      0      0      350050   7.8542    NaN        S
3  female  29.0      0      4      349909  21.0750    NaN        S
4    male  31.0      1      0  F.C. 12750  52.0000    B71        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB
None
       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [22]:
#2.find missing information and replace it with the appropriate values.
print(data.columns,"\n")
print("Missing Values:","\n")
print(data.isnull().sum(),"\n")
print(data['Age'].value_counts(),"\n")
print(data['Age'].describe(),"\n")

mean_age = data['Age'].mean()
data['Age'].fillna(mean_age, inplace=True)
data['Cabin'].fillna('Unknown', inplace=True)
mode_embarked = data['Embarked'].mode()[0]
data['Embarked'].fillna(mode_embarked, inplace=True)

print("Missing Values After Preprocessing:","\n")
print(data.isnull().sum(),"\n")

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Missing Values:

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

28.0    202
24.0     30
22.0     27
18.0     26
19.0     25
       ...
36.5      1
55.5      1
34.5      1
14.5      1
23.5      1
Name: Age, Length: 88, dtype: int64

count    891.000000
mean      29.361582
std       13.019697
min        0.420000
25%       22.000000
50%       28.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64

Missing Values After Preprocessing:

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [26]:
#Transform categorical data using method of your choice(labelEncoder/one hot encoding)
import pandas as pd
# Step 1: Importing the data
data = read_csv("titanic-passengers.csv")
cat_cols_sex = ['Sex']
cat_cols = ['Embarked']
data = pd.get_dummies(data, columns=cat_cols)
data_sex = pd.get_dummies(data, columns=cat_cols_sex)
print(data.head())

KeyError: "None of [Index(['Embarked'], dtype='object')] are in the [columns]"

In [7]:
#Verify that your data is ready to be treated.
from pandas import read_csv
from pandas import get_dummies
# Step 1: Importing the data
data = read_csv("titanic-passengers.csv")

corr_matrix = data.corr()
print(corr_matrix)

Empty DataFrame
Columns: []
Index: []