In [1]:
#Display numbers from -10 to -1 using for loop
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [2]:
#Given a number count the total number of digits in a number, for example, the number is 75869, so the output should be 5.

def count(n):
    return len(str(n))
print(count(75869))

5

In [9]:
#Write a function which Displays the cube of the number up to a given integer, for example the number is 2 the cube should be 8.
def cube(m):
    for z in range(1, m+1):
        print(z**3)
cube(2)

1
8

In [10]:
#Given two integer numbers return their product. If the product is greater than 1000, then return their sum
def number_prod(num1,num2):
    produit = num1 * num2
    if produit > 1000:
        return num1+num2
    else:
        return produit
print(number_prod(100,150))

250

In [11]:
#Given a list of numbers, return True if first and last number of a list is same

def true_or_false(liste):
		if liste[0]==liste[-1]:
			return	True 
		else:
			return False 
liste = [1,245,594,2,1]
print(true_or_false(liste))

True

In [12]:
#Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list, for example list1 =  [10, 20, 23, 11, 17] and list 2 = [13, 43, 24, 36, 12]  => result should be [23, 11, 17, 24, 36, 12]

def even_odd(listeA,listeB):
		liste = []
		for i in listeA:
			if i % 2 != 0:
				liste.append(i)
		for j in listeB:
			if j % 2 == 0:
				liste.append(j)	
		return liste	
list1 = [10, 20, 23, 11, 17]
list2 = [13, 43, 24, 36, 12]
print(even_odd(list1,list2))

[23, 11, 17, 24, 36, 12]

In [14]:
#Write a function which Iterates a given list and counts the occurrence of each element and creates a dictionary to show the count of each element, for example: input list  [11, 45, 8, 11, 23, 45, 23, 45, 89]=> result should be {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}
def count(lst):
    counts = {}
    for j in lst:
        if j in counts:
            counts[j] += 1
        else:
            counts[j] = 1
        return counts

print(count([11, 45, 8, 11, 23, 45, 23, 45, 89]))

{11: 1}

In [15]:
#Write a function which finds the intersection of two sets and removes common elements from the first set. for example: First Set  {65, 42, 78, 83, 23, 57, 29} and Second Set  {67, 73, 43, 48, 83, 57, 29} => Intersection should be  {57, 83, 29} and First Set after removing common element  {65, 42, 78, 23}
def find_intersection(set1, set2):
    intersection = set1.intersection(set2)
    set1 = set1 - intersection
    return intersection, set1

set1 = {65, 42, 78, 83, 23, 57, 29}
set2 = {67, 73, 43, 48, 83, 57, 29}
intersection, s1 = find_intersection(set1, set2)
print(intersection) 
print(s1)

{57, 83, 29}
{65, 42, 78, 23}